<% include ../partials/header.ejs %>

<div class="container form commentForm">
	<form action="/haunted_places/<%= haunted_place._id %>/comments" method="post">
		<div class="form-group">
			<label>Add comment to <%= haunted_place.name %></label>
			<textarea class="form-control" rows="5" name="comment[text]"></textarea>
		</div>
		<a class="btn btn-default" href="/haunted_places/<%= haunted_place._id %>">Cancel</a>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<% include ../partials/footer.ejs %>