<% include ../partials/header.ejs %>

<div class="container form">
	<h1>Add New Comment to <%= haunted_place.name %></h1>
	<form action="/haunted_places/<%= haunted_place._id %>/comments" method="post">
		<div class="form-group">
			<label>Comment</label>
			<textarea class="form-control" rows="5" name="comment[text]"></textarea>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>



<% include ../partials/footer.ejs %>