<% include partials/header.ejs %>

<style>
	body{ background-color: #07101C;}
</style>

<div class="homepage">
	<h1>Haunted Places</h1>
	<h2>Share and discuss bone chilling haunted places!</h2>
	<a class="btn btn-lg btn-orange" href="/register">Create Your Account</a>
	<p>Already a member?</p>
	<a class="btn btn-default" href="/login">Log In</a>
	
		<a id="enterSite" href="/haunted_places">Click here to view the haunted places.</a>
	
</div>

<% include partials/footer.ejs %>