<% include partials/header.ejs %>

<h1>Haunted Places</h1>

<% haunted_places.forEach(function(spot){ %>
	<h2><%= spot.name %></h2>
	<img src="<%= spot.image %>">
	<div>
		<a class="btn btn-primary" href="/haunted_places/<%= spot._id %>">More Info</a>
	</div>
<% }) %>

<div>
	<a class="btn btn-success" href="/haunted_places/new">Add Haunted Place</a>
</div>

<% include partials/footer.ejs %>