<% include partials/header.ejs %>

<div class="container form">
	<h1>Log In</h1>
	<form action="/login" method="post">
		<div class="form-group">
			<label>Username</label>
		    <input id="logInUser" type="text" name="username" class="form-control">
		</div>
		<div class="form-group">
			<label>Password</label>
		    <input type="password" name="password" class="form-control">
		</div>
		<button id="button" type="submit" class="btn btn-orange btn-block">Log In</button>
		<div id="createAccount">
			<p>New to Haunted Places?<p>
			<a class="btn btn-default btn-block" href="/register">Create your account</a>
		</div>

	</form>
</div>


<% include partials/footer.ejs %>