<% include partials/header.ejs %>

<div class="container form">
	<h1>Log In</h1>
	<form action="/login" method="post">
		<div class="form-group">
			<label>Username</label>
		    <input id="logInUser" type="text" name="username" class="form-control">
		</div>
		<div class="form-group">
			<label>Password</label>
		    <input type="password" name="password" class="form-control">
		</div>
		<a class="btn btn-default" href="/haunted_places">Back</a>
		<button id="button" type="submit" class="btn btn-primary">Log In</button>
	</form>
</div>


<% include partials/footer.ejs %>