<% include partials/header.ejs %>

<h1>Form to Add New Haunted Place</h1>

<form action="/haunted_places" method="post">
	Name<br>
	<input type="text" name="name"><br>
	Image<br>
	<input type="text" name="image" placeholder="Image URL"><br>
	<input type="submit" value="Submit">
</form>

<% include partials/footer.ejs %>