<% include partials/header.ejs %>

<div class="container form">
	<!-- Sign Up Form -->
	<form id="registerForm" action="/register" method="post">
	<h1>Sign Up</h1>
		<div class="form-group">
			<label>Username</label>
		    <input type="text" id="#registerUsername" name="username" class="form-control">
		</div>
		<div class="form-group">
			<label>Password</label>
		    <input type="password" id="registerPassword" name="password" class="form-control">
		</div>
		<!-- Password requirements info box -->
		<div id="passwordInfo" class="thumbnail">
		    <h4>Password must:</h4>
		    <ul>
		        <li id="pwLength" class="invalid">
		        	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		        	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
		        	Be at least 8 characters long
		        </li>
		        <li id="pwUppercase" class="invalid">
		        	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		        	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
		        	Contain an uppercase letter
		        </li>
		        <li id="pwLowercase" class="invalid">
		        	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		        	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
		        	Contain a lowercase letter
		        </li>
		        <li id="pwNumber" class="invalid">
		        	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		        	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
		        	Contain a number
		        </li>
		    </ul>
		</div>
		<div class="form-group">
			<label>Password Again</label>
		    <input type="password" name="confirmPassword" class="form-control">
		</div>
		<button id="registerSubmitButton"type="submit" class="btn btn-orange btn-block">Sign Up</button>
	</form>
</div> <!-- End of container -->

<% include partials/footer.ejs %>