*{
	line-height: 1.6;
}
.hauntedPlaceEntry{
	margin-bottom: 25px;
}

h1, h2, h3{
	font-family: 'Vollkorn', serif;
	font-weight: bold;
	color: #072C67  ;
	/*#06235C*/
}

h1{
	font-size: 3em;
}
.title{
	font-family: 'Vollkorn', serif;
	background-color: #2D2D2D;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 1.5em;
	min-height: 50px;
}

.galleryPic{
	background-color: #DEDED2; 
	height: 225px;
}

.galleryPic img{
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 90%;
    position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.description{
	background-color: gray;
	padding: 10px;
}

.descriptionText{
	overflow: hidden;
	height: 60px;
}

textarea { 
	resize:vertical; 
}

.form{
	max-width: 350px;
}

.commentForm{
	max-width: 500px;
}

.hauntedPlaceForm{
	max-width: 500px;
}

.hauntedPlaceForm input[type=text]{
	max-width: 350px;
}

.showPage{
	max-width: 768px;
}

.showPage img{
	display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 550px;
    margin-bottom: 10px;
}

#showHauntedHouse{

}

#showPageDescription{
	word-wrap: break-word;
	font-size: 1.3em;

}


#showSubmittedBy{
	padding: 15px;
	margin: 10px 0;
	background-color: #333333;
	color: white;
}

a.btn.btn-warning{
	display: inline-block;
}

.inlineBlock{
	display: inline-block;
}

#showPageBottomButtons{
	margin: 15px 0;
}

.comment{
	/*margin-bottom:15px;*/
	border-bottom: 2px solid #B3B3B3;
	padding: 15px 0;
	word-wrap: break-word;
	font-size: 1.3em;
}

#leaveCommentMessage{
	background-color: #E4E4E4;
	padding: 25px 15px;
	margin-top: 30px;
}

#leaveCommentMessage h3{
	margin-top: 0;
}

.commentAuthor{
	color: #06235C;
}

.editDeleteButtons{
	margin:7px 0;
}

.signUpAlert{
	color:red;
	font-weight: bold;
	font-size: .9em;
}

.my-error-class {
    color:#FF0000;  /* red */
    font-size: .9em;
}

#passwordInfo{
	display: none;
	padding-bottom: 10px;
}

#passwordInfo ul{
	margin: 0;
    padding: 0;
	list-style-type: none;
}

#passwordInfo .invalid {
    padding-left:22px;
    line-height:22px;
    color: #FF3434;
}
#passwordInfo .valid {
    padding-left:22px;
    line-height:22px;
    color: #008F00;
}

.thumbnail h4{
	margin-left: 22px;
}

ul .glyphicon-ok{
	display:none;
}

@media only screen and (max-width: 425px) {
	.hauntedPlaceForm input[type=text]{
		max-width: 100%;
	}
}
