.hauntedPlaceEntry{
	margin-bottom: 25px;
}

.title{
	background-color: #2D2D2D;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 1.5em;
	min-height: 50px;
}

.galleryPic{
	background-color: #DEDED2; 
	height: 225px;
}

.galleryPic img{
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 90%;
    position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.description{
	background-color: gray;
	padding: 10px;
}

.descriptionText{
	overflow: hidden;
	height: 60px;
}

textarea { 
	resize:vertical; 
}

.form{
	max-width: 350px;
}

.commentForm{
	max-width: 500px;
}

.hauntedPlaceForm{
	max-width: 500px;
}

.hauntedPlaceForm input[type=text]{
	max-width: 350px;
}

.showPage{
	max-width: 768px;
}

.showPage img{
	display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 550px;
    margin-bottom: 10px;
}

#showPageDescription{
	word-wrap: break-word;
}


a.btn.btn-warning{
	display: inline-block;
}

.inlineBlock{
	display: inline-block;
}

#showPageBottomButtons{
	margin: 15px 0;
}

.comment{
	margin-bottom:15px;
	background-color: #DEDED2;
	word-wrap: break-word;
}

.commentButtons{
	margin:7px 0;
}


@media only screen and (max-width: 425px) {
	.hauntedPlaceForm input[type=text]{
		max-width: 100%;
	}
}
