<% include ../partials/header.ejs %>

<div class="container hauntedPlaceForm">
<h1>Edit Your Haunted Spot</h1> 
	<form action="/haunted_places/<%= haunted_place._id %>?_method=PUT" method="post">
		<div class="form-group">
			<label>Name</label>
		    <input type="text" name="haunted_place[name]" value="<%= haunted_place.name %>" class="form-control">
		</div>
		<div class="form-group">
			<label>Image</label>
		    <input type="text" name="haunted_place[image]" value="<%= haunted_place.image %>" class="form-control">
		</div>
		<div class="form-group">
			<label>Description</label>
			<textarea class="form-control" rows="5" name="haunted_place[description]"><%= haunted_place.description %></textarea>
		</div>
		<a class="btn btn-default" href="javascript:history.back()">Cancel</a>
		<button type="submit" class="btn btn-primary">Update</button>
	</form>
</div>

<% include ../partials/footer.ejs %>