<% include ../partials/header.ejs %>

<div class="container hauntedPlaceForm">
	<h1>Add a Haunted Place</h1>
	<form id="newHauntForm" action="/haunted_places" method="post">
		<div class="form-group">
			<label>Name</label>
		    <input type="text" name="name" class="form-control">
		</div>
		<div class="form-group">
			<label>Image</label>
		    <input type="text" name="image" class="form-control">
		</div>
		<div class="form-group">
			<label>Description</label>
			<textarea class="form-control" rows="5" name="description"></textarea>
		</div>
		<a class="btn btn-default" href="/haunted_places">Cancel</a>
		<button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
	</form>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
<script src="/javascript/forms.js"></script>

<% include ../partials/footer.ejs %>